<h1>Trips</h1>


<table class="table table-striped">
	<% @trips.each do |trip| %>
	<tr>
	<td><%= trip.destination %></td>
	<td><%= trip.origin %></td>
	<td><%= trip.length_of_stay %></td>
	<td><%= trip.traveler.email %><td>
	<td><%= trip.accomplished %></td>
	<td><%= image_tag current_traveler.gravatar_url %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to "New Comment", new_trip_comment_path(:trip) => @trip%></p>