<h1>
<table border="1">
	<tr><td>
	<% if @trip.traveler %>
		<%= @trip.traveler.name %>
	<% end %>
	</td></tr>
	<tr><td><%= @trip.destination %></td></tr>
	<tr><td><%= @trip.origin%></td></tr>
	<tr><td><%= @trip.length_of_stay %></td></tr>
	<tr><td><%= @trip.accomplished %></td></tr>
</table>
</h1>

<form action="<%= trip_path(@trip) %>" method='post'>
	<input type="hidden" name='_method' value'delete'>
	<button id='delete'>delete</button>
</form>

<%= link_to  ("New Trip"), '/trips/new' %>
<%= link_to  ("Home Page"), '/' %>
