<div id="hpbuttons">
	<button type="button" class="btn btn-default btn-lg">
		<%= link_to  ("Add a Trip"), '/trips/new' %>
	</button>

	 <button type="button" class="btn btn-default btn-lg">
		<%= link_to  ("Travelers"), '/travelers' %>
	</button>
	<button type="button" class="btn btn-default btn-lg">
		<%= link_to  ("Trips"), '/trips' %>
	</button>

</div>

<div id="homepage1">
	<h1>Come with Me</h1>
	<h2>Welcome! Let's talk about our past and future travels</h2>
	<h3>(Have you Signed in?)</h3>
</div>



<!-- <div class="col-md-4">
<table class="table table-striped">
	<% @travelers.each do |traveler| %>
	<tr><td><%= traveler.email %></td>
	<td><%= traveler.name %></tr>
	<td><%= image_tag traveler.gravatar_url %></td>
	<% end %>
</table>
</div> -->

<!-- <div class"container"> -->

	<!-- <div class="col-xs-6 col-md-4">
		<table class="table table-striped">
			<% @trips.each do |trip| %>
				<tr>
				<td><h3>Destination</3><td><%= trip.destination %></td>
				<td><h3>Origin</h3><%= trip.origin %></td>
				<td><h3>Length of stay</h3><%= trip.length_of_stay %></td>
				<td><h3>Accomplished yet?</h3><%= trip.accomplished %></td>
				<td><%= trip.traveler.name %><td>
				</tr>	 
			<% end %>
		</table>
	</div> -->

<!-- </div> -->

