<!DOCTYPE html>
<html>
<head>
  <title>ComeWithMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="notice"><%=notice %></p>
<p class="alert"><%= alert %></p>

<% if traveler_signed_in? %>
<p>Welcome, <%=current_traveler.email %></p>
<%= image_tag current_traveler.gravatar_url %>
<%= link_to "logout", destroy_traveler_session_path, method: :delete %>
<% else %>
<%= link_to "sign-in", new_traveler_session_path %>
<%= link_to "sign-up", new_traveler_registration_path %>
<% end %>

	
<%= yield %>

</body>
</html>
